{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
<script src="{{ url_for('static', filename='js/responsiveslides.min.js') }}"></script>

{% block header %}
    <div class="header_top">
        <div class="col-sm-3 logo"><a href="index.html"><img
                src="{{ url_for('static',filename='images/logo.png') }}" alt=""/></a></div>
        <div class="col-sm-6 nav">
            <ul>
                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="首页"><a
                        href="/"> </a></span></li>
                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="movie"><a
                        href="movie"> </a> </span>
                </li>
                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="video"><a
                        href="movie"> </a></span>
                </li>
                {#				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="game"><a href="movie"> </a></span></li>#}
                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="商城"><a
                        href="shop"> </a></span></li>
                {#				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="more"><a href="movie"> </a></span></li>#}
            </ul>
        </div>
        <div class="col-sm-3 header_right">
            <ul class="header_right_box">
                <li>
                    <a href="center">
                        <img src="{{ url_for('static',filename='images/p1.png') }}" alt=""/>
                    </a>
                </li>
                <li><p><a href="login">{{ user }}</a></p></li>
                <li class="last">
                    <a href="center">
                        <i class="edit"> </i>
                    </a>
                </li>
                <div class="clearfix"></div>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li class="isshow"><img src="{{ url_for('static',filename='images/banner.jpg') }}"
                                            class="img-responsive" alt=""/>
                        <div class="button">
                            {#			      <a href="#" class="hvr-shutter-out-horizontal">Watch Now</a>#}
                        </div>
                    </li>
                    <li class="unshow"><img src="{{ url_for('static',filename='images/banner1.jpg') }}"
                                            class="img-responsive" alt=""/>
                        <div class="button">
                            {#			      <a href="#" class="hvr-shutter-out-horizontal">Watch Now</a>#}
                        </div>
                    </li>
                    <li class="unshow"><img src="{{ url_for('static',filename='images/banner2.jpg') }}"
                                            class="img-responsive" alt=""/>
                        <div class="button">
                            {#			      <a href="#" class="hvr-shutter-out-horizontal">Watch Now</a>#}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="banner_desc">
                <div class="col-md-9">
                    <ul class="list_1">
                        {#			    			<li>Published <span class="m_1">Feb 20, 2015</span></li>#}
                        {#			    			<li>Updated <span class="m_1">Feb 20 2015</span></li>#}
                        {#			    			<li>Rating <span class="m_1"><img src="{{ url_for('static',filename='images/rating.png') }}" alt=""/></span></li>#}
                    </ul>
                </div>
                <div class="col-md-3 grid_1">
                    <ul class="list_1 list_2">
                        {#			    			<li><i class="icon1"> </i><p>2,548</p></li>#}
                        {#			    			<li><i class="icon2"> </i><p>215</p></li>#}
                        {#			    			<li><i class="icon3"> </i><p>546</p></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="box_1">
                <h1 class="m_2">为您推荐</h1>
                <div class="search">
                    <form action="{{ url_for('movie.search') }}" method="get" target="_parent">
                        <input type="text" name="search" placeholder="输入查询的电影...">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="box_2">
                <div class="col-md-5 grid_3">
                    <div class="row_1">
                        <div class="col-md-6 grid_4"><a href="shop.html">
                            <div class="grid_2">
                                <img src="{{ url_for('static',filename='images/pic1.jpg') }}" class="img-responsive"
                                     alt=""/>
                                <div class="caption1">
                                    <ul class="list_3">
                                        <li><i class="icon5"> </i>
                                            <p>3,548</p></li>
                                    </ul>
                                    <i class="icon4"> </i>
                                    <p class="m_3">Guardians of the Galaxy</p>
                                </div>
                            </div>
                            <div class="grid_2 col_1">
                                <img src="{{ url_for('static',filename='images/pic2.jpg') }}" class="img-responsive"
                                     alt=""/>
                                <div class="caption1">
                                    <ul class="list_3">
                                        <li><i class="icon5"> </i>
                                            <p>3,548</p></li>
                                    </ul>
                                    <i class="icon4"> </i>
                                    <p class="m_3">Guardians of the Galaxy</p>
                                </div>
                            </div>
                        </a></div>
                        <div class="col-md-6 grid_7">
                            <div class="col_2">
                                <ul class="list_4">
                                    <li><i class="icon1"> </i>
                                        <p>2,548</p></li>
                                    <li><i class="icon2"> </i>
                                        <p>215</p></li>
                                    <li><i class="icon3"> </i>
                                        <p>546</p></li>
                                    <li>Rating : &nbsp;&nbsp;<p><img
                                            src="{{ url_for('static',filename='images/rating1.png') }}" alt=""/></p>
                                    </li>
                                    <li>Release Date : &nbsp;<span class="m_4">Mar 15, 2015</span></li>
                                    <div class="clearfix"></div>
                                </ul>
                                <div class="m_5"><a href="shop.html"><img
                                        src="{{ url_for('static',filename='images/pic3.jpg') }}" class="img-responsive"
                                        alt=""/></a></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row_2">
                        <a href="shop.html"><img src="{{ url_for('static',filename='images/pic4.jpg') }}"
                                                 class="img-responsive" alt=""/></a>
                    </div>
                </div>
                <div class="col-md-5 content_right">
                    <div class="row_3">
                        <div class="col-md-6 content_right-box"><a href="shop.html">
                            <div class="grid_2">
                                <img src="{{ url_for('static',filename='images/pic6.jpg') }}" class="img-responsive"
                                     alt=""/>
                                <div class="caption1">
                                    <ul class="list_5">
                                        <li><i class="icon5"> </i>
                                            <p>3,548</p></li>
                                    </ul>
                                    <i class="icon4 icon6"> </i>
                                    <p class="m_3">Guardians of the Galaxy</p>
                                </div>
                            </div>
                        </a></div>
                        <div class="col-md-6 grid_5"><a href="shop.html">
                            <div class="grid_2">
                                <img src="{{ url_for('static',filename='images/pic7.jpg') }}" class="img-responsive"
                                     alt=""/>
                                <div class="caption1">
                                    <ul class="list_5">
                                        <li><i class="icon5"> </i>
                                            <p>3,548</p></li>
                                    </ul>
                                    <i class="icon4 icon6"> </i>
                                    <p class="m_3">Guardians of the Galaxy</p>
                                </div>
                            </div>
                        </a></div>
                        <div class="clearfix"></div>
                    </div>
                    {#                    <div class="video">#}
                    {#                        <iframe width="100%" height="" src="https://www.youtube.com/embed/s1QeoSedWmM" frameborder="0"#}
                    {#                                allowfullscreen></iframe>#}
                    {#                    </div>#}
                    <div class="row_5">
                        <div class="col-md-6">
                            <div class="col_2">
                                <ul class="list_4">
                                    <li><i class="icon1"> </i>
                                        <p>2,548</p></li>
                                    <li><i class="icon2"> </i>
                                        <p>215</p></li>
                                    <li><i class="icon3"> </i>
                                        <p>546</p></li>
                                    <li>Rating : &nbsp;&nbsp;<p><img
                                            src="{{ url_for('static',filename='images/rating1.png') }}" alt=""></p></li>
                                    <div class="clearfix"></div>
                                </ul>

                            </div>
                        </div>
                        <div class="col-md-6 m_6"><a href="shop.html">
                            <img src="{{ url_for('static',filename='images/pic8.jpg') }}" class="img-responsive"
                                 alt=""/>
                        </a></div>
                    </div>
                </div>
                <div class="col-md-2 grid_6">
                    <div class="m_7"><a href="shop.html"><img src="{{ url_for('static',filename='images/pic9.jpg') }}"
                                                              class="img-responsive" alt=""/></a></div>
                    <div class="caption1">
                        <ul class="list_5">
                            <li><i class="icon5"> </i>
                                <p>3,548</p></li>
                        </ul>
                        <i class="icon4 icon6"> </i>
                        <p class="m_3">Guardians of the Galaxy</p>
                    </div>
                    <div class="col_2 col_3">
                        <ul class="list_4">
                            <li><i class="icon1"> </i>
                                <p>2,548</p></li>
                            <li><i class="icon2"> </i>
                                <p>215</p></li>
                            <li><i class="icon3"> </i>
                                <p>546</p></li>
                            <li>Rating : &nbsp;&nbsp;<p><img src="{{ url_for('static',filename='images/rating1.png') }}"
                                                             alt=""></p></li>
                            <li>Release : &nbsp;<span class="m_4">Mar 15, 2015</span></li>
                            <div class="clearfix"></div>
                        </ul>
                        <div class="m_8"><a href="shop.html"><img
                                src="{{ url_for('static',filename='images/pic10.jpg') }}" class="img-responsive"
                                alt=""/></a></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}