{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="m_2">Now in the Movie</h1>
        <div class="search">
            {#搜索框#}
            <form action="{{ url_for('movie.search') }}" method="get" target="_parent">
                {#                <input type="text" name="search" value="Search..." onfocus="this.value='';"#}
                {#                       onblur="if (this.value == '') {this.value ='';}">#}
                {#                <input type="button" value="search">#}
                <input type="text" name="search" placeholder="输入查询的电影...">
                <input type="submit" value="">
            </form>
        </div>
        <div class="clearfix"></div>
        <div class="movie_top">

            <div class="col-md-12 movie_box">
                <!-- Movie variant with time -->
                {% for item in movies %}
                    <div class="movie movie-test movie-test-dark movie-test-left">
                        <div class="movie__images" style="width:200px">
                            <a href="single?id={{ item.movieid }}" class="movie-beta__link" target="_blank">
                                <img alt="" src="{{ item.poster }}" class="img-responsive" alt="" style="height:278px"/>
                            </a>
                        </div>
                        <div class="movie__info">
                            <a href="single?id={{ item.movieid }}" class="movie__title"
                               target="_blank">{{ item.name }}</a>
                            <p class="movie__time">{{ item.info }}</p>
                            <br>
                            <p class="movie__option">{{ item.person }}</p>
                            <br>
                            <p>{{ item.introduce }}</p>
                            {#                                    <br>#}
                            <p>评分：{{ item.score }}+</p>
                            <ul class="list_6">
                                <li><i class="icon2"> </i>
                                    <span>{{ item.comment }}</span></li>
                                <li><i class="icon1 btn" id="{{ item.movieid }}"></i>
                                    <span tag="0">{{ item.like }}</span>
                                </li>

                                {#						    			<li><i class="icon3"> </i><p>546</p></li>#}
                                {#						    			<li>Rating : &nbsp;&nbsp;<p><img src="{{ url_for('static',filename='images/rating1.png') }}" alt=""></p></li>#}
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% endfor %}
                <!-- Movie variant with time -->
                <!-- Movie variant with time -->

                <div class="clearfix"></div>
                <!-- Movie variant with time -->

            </div>

            {#                分页#}
            <div class="pagination">
                {#                判断是否存在前一页#}
                <div class="down_btn">
                    {% if paginate.has_prev %}
                        <a class="btn1" href="?page={{ paginate.prev_num }}">上一页</a>
                    {% endif %}


                    {% for i in paginate.iter_pages() %}
                        {% if i == paginate.page %}
                            <a class="btn1" href="?page={{ i }}">{{ i }}</a>
                        {% else %}
                            <a class="btn1" href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}


                    {#                判断是否存在下一页#}
                    {% if paginate.has_next %}
                        <a class="btn1" href="?page={{ paginate.next_num }}">下一页</a>
                    {% endif %}
                </div>
            </div>
            {#            <!--<div class="col-md-3">-->#}
            {#            <!--<div class="movie_img"><div class="grid_2">-->#}
            {#            <!--<img src="{{ url_for('static',filename='images/pic6.jpg') }}" class="img-responsive" alt="">-->#}
            {#            <!--<div class="caption1">-->#}
            {#            <!--<ul class="list_5 list_7">-->#}
            {#            <!--<li><i class="icon5"> </i><p>3,548</p></li>-->#}
            {#            <!--</ul>-->#}
            {#            <!--<i class="icon4 icon6 icon7"> </i>-->#}
            {#            <!--<p class="m_3">Guardians of the Galaxy</p>-->#}
            {#            <!--</div>-->#}
            {#            <!--</div>-->#}
            {#            <!--</div>-->#}
            {#            <!--<div class="grid_2 col_1">-->#}
            {#            <!--<img src="{{ url_for('static',filename='images/pic2.jpg') }}" class="img-responsive" alt="">-->#}
            {#            <!--<div class="caption1">-->#}
            {#            <!--<ul class="list_3 list_7">-->#}
            {#            <!--<li><i class="icon5"> </i><p>3,548</p></li>-->#}
            {#            <!--</ul>-->#}
            {#            <!--<i class="icon4 icon7"> </i>-->#}
            {#            <!--<p class="m_3">Guardians of the Galaxy</p>-->#}
            {#            <!--</div>-->#}
            {#            <!--</div>-->#}
            {#            <!--<div class="grid_2 col_1">-->#}
            {#            <!--<img src="{{ url_for('static',filename='images/pic9.jpg') }}" class="img-responsive" alt="">-->#}
            {#            <!--<div class="caption1">-->#}
            {#            <!--<ul class="list_3 list_7">-->#}
            {#            <!--<li><i class="icon5"> </i><p>3,548</p></li>-->#}
            {#            <!--</ul>-->#}
            {#            <!--<i class="icon4 icon7"> </i>-->#}
            {#            <!--<p class="m_3">Guardians of the Galaxy</p>-->#}
            {#            <!--</div>-->#}
            {#            <!--</div>-->#}
            {#            <!--</div> -->#}
            <div class="clearfix"></div>
        </div>
        <h3 class="recent">新片预览</h3>
        <div>
            <ul>
                <li><img src="{{ url_for('static',filename='images/1.jpg') }}" class="img-responsive"/>
                    <div class="grid-flex"><a href="#">Syenergy 2mm</a>
                        <p>22.10.2014 | 14:40</p></div>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}

{#<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>#}

{% block script %}
    {{ super() }}
    <script type="text/javascript">
        $(function () {
            // 点赞
            {% if user %}
                $('.icon1').click(function () {
                    let $this = $(this);
                    let tag = $this.next('span').attr('tag');
                    console.log(tag);
                    $.get('{{ url_for('movie.like') }}', {aid: this.id, tag: tag}, function (data) {
                        $this.next('span').text(data.num);
                    });
                    if (tag == '1') {
                        $this.css({'color': 'red'});
                        $this.next('span').attr('tag', '0');
                    } else {
                        $this.css({'color': 'black'});
                        $this.next('span').attr('tag', '1');
                    }
                });
            {% else %}
                $('.icon1').click(function () {
                    window.location.href = "{{ url_for('view01.login') }}"
                    alert("请先登录再进行点赞、评论")
                });
            {% endif %}
        });

        // 搜索
        $('#search').click(function () {
            let content = $("input[name='search']").val();
            alert(content)
        })
    </script>
{% endblock %}
