<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/tanchu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>
<div class="newsletter">
    <h1>
        Monthly
        <span>Newsletter</span>
    </h1>
    <p>Lorem ipsum dolor sit amet, natus sequi maxime assumenda.</p>
    <div class="txtb">
        <input type="text" placeholder="Enter Your Email Address">
        <button type="button"><i class="fas fa-arrow-right"></i></button>
    </div>
</div>
</body>
</html>